<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.mapworxxell.onefourone"
        version="0.7.13">

  <name>onefourone</name>
  <description>onefourone</description>

  <asset src="www/onefourone.js" target="js/onefourone.js"/>

  <js-module src="www/onefourone.js" name="onefourone">
    <clobbers target="onefourone" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="onefourone">
        <param name="android-package" value="com.mapworxxell.onefourone.onefourone"/>
      </feature>
    </config-file>

    <source-file src="src/android/onefourone.java" target-dir="src/com/mapworxxell/onefourone"/>
  </platform>
</plugin>